{% extends 'Admin.html.twig' %}

{% block title %}New Workshop{% endblock %}

{% block content %}
<div class="row">
						<div class="col-xl-6 col-xxl-5 d-flex">
							<div class="w-100">
								<div class="row">
									<div class="col-sm-6">
										<div class="card">
											<div class="card-body">
    <h1>Create new Workshop</h1>

    {{ include('workshop/_form.html.twig') }}

     </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
{% endblock %}
