<form method="post" action="{{ path('app_auction_participant_delete', {'idParticipant': auction_participant.idParticipant.idUser}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ auction_participant.idParticipant.idUser) }}">
    <button class="btn">Delete</button>
</form>
